.video-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #213141;
  border-bottom: 1px solid #213141;

  @include media-breakpoint-up(sm) {
    border: none;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }

  &__inline {
    display: inline-flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 0.875rem;
		line-height: 1.5;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin-right: 1rem;
    }
  }

  &__label {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
