.video-preview {
  position: relative;

  & video {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    /* Hide Play button + controls on iOS */
    &::-webkit-media-controls {
      display: none !important;
    }
  }

  &.-video video {
    display: block;
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    padding: 2px;
    background: rgba(10, 10, 10, 0.5);
    border-radius: 3px;
    font-size: 1.1rem;
    line-height: 1;
    color: white;
    opacity: 0.6;
    z-index: 10;

    @media screen and (min-width: 992px) {
      display: none;
    }

    & i,
    & img {
      display: block;
      margin: 0;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}
