.rate {
  display: flex;
  color: $font1;
  font-size: 16px;
  flex-grow: 1;

  @include media-breakpoint-up(sm) {
    max-width: 300px;
  }

  &__button {
    display: flex;
    flex-grow: 1;

    &:hover {
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
      }
    }
  }

  &__like {
    background: url(../img/icons/i-like.svg) no-repeat left center / 30px 30px;
    width: 30px;
  }

  &__dislike {
    background: url(../img/icons/i-dislike.svg) no-repeat left center / 30px 30px;
    width: 30px;
    transform: rotate(180deg);
  }

  &__button {
    &:not(.disabled):hover .rate__like {
      background: url(../img/icons/i-like-hover.svg) no-repeat left center / 30px 30px;
    }

    &:not(.disabled):hover .rate__dislike {
      background: url(../img/icons/i-dislike-hover.svg) no-repeat left center / 30px 30px;
    }
  }

  &__num {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0 0.5rem;
    text-align: center;
  }
}
